@import '~office-ui-fabric-react/dist/sass/References.scss';

 %scrollIndicator {
    position: fixed;
    z-index: 99;
    height: 8px;
    width: 100%;
    left: 0px;
 }

 .scrollIndicator_shareenv {
    @extend %scrollIndicator;
    top:150px;
 }

 .scrollIndicator_localenv {
    @extend %scrollIndicator;
    top:90px;
 }

 .progressContainer {
    background: #ccc;
    height: 8px;
 }

 .progressBar {
    background: "[theme: themePrimary, default: #0078d7]";
    width: 0%;
    transition: width 0.2s linear;
    height: 8px;
 }
